### Your lab resolution :

In [11]:
import requests
import getpass

In [25]:
#saved_password = getpass.getpass()
r = requests.get('https://api.github.com/repos/ta-data-pt-rmt/lab-mysql-first-queries/forks')

In [ ]:
r.status_code

In [ ]:
r.content

In [ ]:
r.json()

In [26]:
import pandas as pd
data = pd.DataFrame.from_dict(r.json())
data.head()

,id,node_id,name,full_name,private,owner,html_url,description,fork,url,...,license,allow_forking,is_template,web_commit_signoff_required,topics,visibility,forks,open_issues,watchers,default_branch
0,560872106,R_kgDOIW46qg,lab-mysql-first-queries,AferditaZherka/lab-mysql-first-queries,False,"{'login': 'AferditaZherka', 'id': 112016880, '...",https://github.com/AferditaZherka/lab-mysql-fi...,None,True,https://api.github.com/repos/AferditaZherka/la...,...,None,True,False,False,[],public,0,0,0,main
1,558997765,R_kgDOIVGhBQ,lab-mysql-first-queries,MaxGrempel/lab-mysql-first-queries,False,"{'login': 'MaxGrempel', 'id': 112100619, 'node...",https://github.com/MaxGrempel/lab-mysql-first-...,None,True,https://api.github.com/repos/MaxGrempel/lab-my...,...,None,True,False,False,[],public,0,0,0,main
2,552433015,R_kgDOIO11dw,lab-mysql-first-queries,ManoukMeilof/lab-mysql-first-queries,False,"{'login': 'ManoukMeilof', 'id': 15331113, 'nod...",https://github.com/ManoukMeilof/lab-mysql-firs...,None,True,https://api.github.com/repos/ManoukMeilof/lab-...,...,None,True,False,False,[],public,0,0,0,main
3,551765980,R_kgDOIONH3A,data-lab-mysql-first-queries,Senimtra/data-lab-mysql-first-queries,False,"{'login': 'Senimtra', 'id': 79050456, 'node_id...",https://github.com/Senimtra/data-lab-mysql-fir...,None,True,https://api.github.com/repos/Senimtra/data-lab...,...,None,True,False,False,[],public,0,0,0,main
4,551625814,R_kgDOIOEkVg,lab-mysql-first-queries,suparna098/lab-mysql-first-queries,False,"{'login': 'suparna098', 'id': 104207812, 'node...",https://github.com/suparna098/lab-mysql-first-...,None,True,https://api.github.com/repos/suparna098/lab-my...,...,None,True,False,False,[],public,0,0,0,main

In [27]:
data.columns

Index(['id', 'node_id', 'name', 'full_name', 'private', 'owner', 'html_url',
       'description', 'fork', 'url', 'forks_url', 'keys_url',
       'collaborators_url', 'teams_url', 'hooks_url', 'issue_events_url',
       'events_url', 'assignees_url', 'branches_url', 'tags_url', 'blobs_url',
       'git_tags_url', 'git_refs_url', 'trees_url', 'statuses_url',
       'languages_url', 'stargazers_url', 'contributors_url',
       'subscribers_url', 'subscription_url', 'commits_url', 'git_commits_url',
       'comments_url', 'issue_comment_url', 'contents_url', 'compare_url',
       'merges_url', 'archive_url', 'downloads_url', 'issues_url', 'pulls_url',
       'milestones_url', 'notifications_url', 'labels_url', 'releases_url',
       'deployments_url', 'created_at', 'updated_at', 'pushed_at', 'git_url',
       'ssh_url', 'clone_url', 'svn_url', 'homepage', 'size',
       'stargazers_count', 'watchers_count', 'language', 'has_issues',
       'has_projects', 'has_downloads', 'has_wiki', 'has_pages',
       'has_discussions', 'forks_count', 'mirror_url', 'archived', 'disabled',
       'open_issues_count', 'license', 'allow_forking', 'is_template',
       'web_commit_signoff_required', 'topics', 'visibility', 'forks',
       'open_issues', 'watchers', 'default_branch'],
      dtype='object')

In [31]:
#Challenge 1: Fork Languages
data['language'].unique()

array([None, 'Jupyter Notebook'], dtype=object)

In [6]:
#Challenge 2: Count Commits
data2 = pd.read_json('c:/Users/suparna/count.json')
data2

,sha,node_id,commit,url,html_url,comments_url,author,committer,parents
0,b2fb48cfae83a8fed6b62b4bcbed7e31109ad035,C_kwDOHB089NoAKGIyZmI0OGNmYWU4M2E4ZmVkNmI2MmI0...,"{'author': {'name': 'ta-data-pt-rmt', 'email':...",https://api.github.com/repos/ta-data-pt-rmt/la...,https://github.com/ta-data-pt-rmt/lab-mysql-fi...,https://api.github.com/repos/ta-data-pt-rmt/la...,"{'login': 'ta-data-pt-rmt', 'id': 99891270, 'n...","{'login': 'web-flow', 'id': 19864447, 'node_id...",[{'sha': '0e1ba0f7d937f1a1c88f578f052803e19344...
1,0e1ba0f7d937f1a1c88f578f052803e193440c27,C_kwDOHB089NoAKDBlMWJhMGY3ZDkzN2YxYTFjODhmNTc4...,"{'author': {'name': 'ta-data-pt-rmt', 'email':...",https://api.github.com/repos/ta-data-pt-rmt/la...,https://github.com/ta-data-pt-rmt/lab-mysql-fi...,https://api.github.com/repos/ta-data-pt-rmt/la...,"{'login': 'ta-data-pt-rmt', 'id': 99891270, 'n...","{'login': 'web-flow', 'id': 19864447, 'node_id...",[{'sha': '93b5ce69f2ce8dc6513e90bcbf672a1f14c9...
2,93b5ce69f2ce8dc6513e90bcbf672a1f14c944bd,C_kwDOHB089NoAKDkzYjVjZTY5ZjJjZThkYzY1MTNlOTBi...,"{'author': {'name': 'ta-data-pt-rmt', 'email':...",https://api.github.com/repos/ta-data-pt-rmt/la...,https://github.com/ta-data-pt-rmt/lab-mysql-fi...,https://api.github.com/repos/ta-data-pt-rmt/la...,"{'login': 'ta-data-pt-rmt', 'id': 99891270, 'n...","{'login': 'web-flow', 'id': 19864447, 'node_id...",[]

In [8]:
#commits made in the past 3 weeks 
len(data2)

3

In [18]:
pd.json_normalize(data2['commit'])

,message,url,comment_count,author.name,author.email,author.date,committer.name,committer.email,committer.date,tree.sha,tree.url,verification.verified,verification.reason,verification.signature,verification.payload
0,"Add files via upload\n\nalternative dataset, w...",https://api.github.com/repos/ta-data-pt-rmt/la...,0,ta-data-pt-rmt,99891270+ta-data-pt-rmt@users.noreply.github.com,2022-03-31T18:05:34Z,GitHub,noreply@github.com,2022-03-31T18:05:34Z,9a93890ad46c565f62d5406e4b97a0355e943611,https://api.github.com/repos/ta-data-pt-rmt/la...,True,valid,-----BEGIN PGP SIGNATURE-----\n\nwsBcBAABCAAQB...,tree 9a93890ad46c565f62d5406e4b97a0355e943611\...
1,Update README.md,https://api.github.com/repos/ta-data-pt-rmt/la...,0,ta-data-pt-rmt,99891270+ta-data-pt-rmt@users.noreply.github.com,2022-03-31T18:04:49Z,GitHub,noreply@github.com,2022-03-31T18:04:49Z,3983444079670a5e4da2de74ba243f39a2b1fa5a,https://api.github.com/repos/ta-data-pt-rmt/la...,True,valid,-----BEGIN PGP SIGNATURE-----\n\nwsBcBAABCAAQB...,tree 3983444079670a5e4da2de74ba243f39a2b1fa5a\...
2,Add files via upload,https://api.github.com/repos/ta-data-pt-rmt/la...,0,ta-data-pt-rmt,99891270+ta-data-pt-rmt@users.noreply.github.com,2022-03-19T11:41:30Z,GitHub,noreply@github.com,2022-03-19T11:41:30Z,9e05f39c9d63edc892fb92345ca541df48ca0d30,https://api.github.com/repos/ta-data-pt-rmt/la...,True,valid,-----BEGIN PGP SIGNATURE-----\n\nwsBcBAABCAAQB...,tree 9e05f39c9d63edc892fb92345ca541df48ca0d30\...

In [ ]:
#Challenge 1: Fork Languages

In [ ]:
#data = pd.read_json('c:/Users/suparna/test.json', orient='records')

In [9]:
data1 = pd.read_json('c:/Users/suparna/test.json')
data1

,id,node_id,name,full_name,private,owner,html_url,description,fork,url,...,allow_forking,is_template,web_commit_signoff_required,topics,visibility,forks,open_issues,watchers,default_branch,permissions
0,560872106,R_kgDOIW46qg,lab-mysql-first-queries,AferditaZherka/lab-mysql-first-queries,False,"{'login': 'AferditaZherka', 'id': 112016880, '...",https://github.com/AferditaZherka/lab-mysql-fi...,NaN,True,https://api.github.com/repos/AferditaZherka/la...,...,True,False,False,[],public,0,0,0,main,"{'admin': False, 'maintain': False, 'push': Fa..."
1,558997765,R_kgDOIVGhBQ,lab-mysql-first-queries,MaxGrempel/lab-mysql-first-queries,False,"{'login': 'MaxGrempel', 'id': 112100619, 'node...",https://github.com/MaxGrempel/lab-mysql-first-...,NaN,True,https://api.github.com/repos/MaxGrempel/lab-my...,...,True,False,False,[],public,0,0,0,main,"{'admin': False, 'maintain': False, 'push': Fa..."
2,552433015,R_kgDOIO11dw,lab-mysql-first-queries,ManoukMeilof/lab-mysql-first-queries,False,"{'login': 'ManoukMeilof', 'id': 15331113, 'nod...",https://github.com/ManoukMeilof/lab-mysql-firs...,NaN,True,https://api.github.com/repos/ManoukMeilof/lab-...,...,True,False,False,[],public,0,0,0,main,"{'admin': False, 'maintain': False, 'push': Fa..."
3,551765980,R_kgDOIONH3A,data-lab-mysql-first-queries,Senimtra/data-lab-mysql-first-queries,False,"{'login': 'Senimtra', 'id': 79050456, 'node_id...",https://github.com/Senimtra/data-lab-mysql-fir...,NaN,True,https://api.github.com/repos/Senimtra/data-lab...,...,True,False,False,[],public,0,0,0,main,"{'admin': False, 'maintain': False, 'push': Fa..."
4,551625814,R_kgDOIOEkVg,lab-mysql-first-queries,suparna098/lab-mysql-first-queries,False,"{'login': 'suparna098', 'id': 104207812, 'node...",https://github.com/suparna098/lab-mysql-first-...,NaN,True,https://api.github.com/repos/suparna098/lab-my...,...,True,False,False,[],public,0,0,0,main,"{'admin': True, 'maintain': True, 'push': True..."
5,551524439,R_kgDOIN-YVw,lab-mysql-first-queries,AdrianFloresG/lab-mysql-first-queries,False,"{'login': 'AdrianFloresG', 'id': 110092090, 'n...",https://github.com/AdrianFloresG/lab-mysql-fir...,NaN,True,https://api.github.com/repos/AdrianFloresG/lab...,...,True,False,False,[],public,0,0,0,main,"{'admin': False, 'maintain': False, 'push': Fa..."
6,551471431,R_kgDOIN7JRw,lab-mysql-first-queries,Dams89/lab-mysql-first-queries,False,"{'login': 'Dams89', 'id': 64008705, 'node_id':...",https://github.com/Dams89/lab-mysql-first-queries,NaN,True,https://api.github.com/repos/Dams89/lab-mysql-...,...,True,False,False,[],public,0,0,0,main,"{'admin': False, 'maintain': False, 'push': Fa..."
7,551449213,R_kgDOIN5yfQ,lab-mysql-first-queries,oiroqueiro/lab-mysql-first-queries,False,"{'login': 'oiroqueiro', 'id': 102583674, 'node...",https://github.com/oiroqueiro/lab-mysql-first-...,NaN,True,https://api.github.com/repos/oiroqueiro/lab-my...,...,True,False,False,[],public,0,0,0,main,"{'admin': False, 'maintain': False, 'push': Fa..."
8,551400337,R_kgDOIN2zkQ,lab-mysql-first-queries,fedecavanagh/lab-mysql-first-queries,False,"{'login': 'fedecavanagh', 'id': 111010645, 'no...",https://github.com/fedecavanagh/lab-mysql-firs...,NaN,True,https://api.github.com/repos/fedecavanagh/lab-...,...,True,False,False,[],public,0,0,0,main,"{'admin': False, 'maintain': False, 'push': Fa..."
9,551088337,R_kgDOINjw0Q,lab-mysql-first-queries,angelaarredondo/lab-mysql-first-queries,False,"{'login': 'angelaarredondo', 'id': 109860421, ...",https://github.com/angelaarredondo/lab-mysql-f...,NaN,True,https://api.github.com/repos/angelaarredondo/l...,...,True,False,False,[],public,0,0,0,main,"{'admin': False, 'maintain': False, 'push': Fa..."
10,551086834,R_kgDOINjq8g,lab-mysql-first-queries,AmelieMaria/lab-mysql-first-queries,False,"{'login': 'AmelieMaria', 'id': 111019648, 'nod...",https://github.com/AmelieMaria/lab-mysql-first...,NaN,True,https://api.github.com/repos/AmelieMaria/lab-m...,...,True,False,False,[],public,0,0,0,main,"{'admin': False, 'maintain': False, 'push': Fa..."
11,551061691,R_kgDOINiIuw,lab-mysql-first-queries,JavierHerasJimenez/lab-mysql-first-queries,False,"{'login': 'JavierHerasJimenez', 'id': 11028218...",https://github.com/JavierHerasJimenez/lab-mysq...,NaN,True,https://api.github.com/repos/JavierHerasJimene...,...,True,False,False,[],public,0,0,0,main,"{'admin': False, 'maintain': False, 'push': Fa..."
12,551057192,R_kgDOINh3KA,lab-mysql-first-queries,alansal22/lab-mysql-first-queries,False,"{'login': 'alansal22', 'id': 112503973, 'node_...",https://github.com/alansal22/lab-mysql-first-q...,NaN,True,https://api.github.com/repos/alansal22/lab-mys...,...,True,False,False,[],public,0,0,0,main,"{'admin': False, 'maintain': False, 'push': Fa..."
13,551055635,R_kgDOINhxEw,lab-mysql-first-queries,Joaquin-Valentin/lab-mysql-first-queries,False,"{'login': 'Joaquin-Valentin', 'id': 109904363,...",https://github.com/Joaquin-Valentin/lab-mysql-...,NaN,True,https://api.github.com/repos/Joaquin-Valentin/...,...,True,False,False,[],public,0,0,0,main,"{'admin': False, 'maintain': False, 'push': Fa..."
14,551054780,R_kgDOINhtvA,lab-mysql-first-queries,Shileitan/lab-mysql-first-queries,False,"{'login': 'Shileitan', 'id': 111312979, 'node_...",https://github.com/Shileitan/lab-mysql-first-q...,NaN,True,https://api.github.com/repos/Shileitan/lab-mys...,...,True,False,False,[],public,0,0,0,main,"{'admin': False, 'maintain': False, 'push': Fa..."
15,551043611,R_kgDOINhCGw,lab-mysql-first-queries,DJMB92/lab-mysql-first-queries,False,"{'login': 'DJMB92', 'id': 109094137, 'node_id'...",https://github.com/DJMB92/lab-mysql-first-queries,NaN,True,https://api.github.com/repos/DJMB92/lab-mysql-...,...,True,False,False,[],public,0,0,0,main,"{'admin': False, 'maintain': False, 'push': Fa..."
16,551018895,R_kgDOINfhjw,lab-mysql-first-queries,MariaVazquezC/lab-mysql-first-queries,False,"{'login': 'MariaVazquezC', 'id': 103819823, 'n...",https://github.com/MariaVazquezC/lab-mysql-fir...,NaN,True,https://api.github.com/repos/MariaVazquezC/lab...,...,True,False,False,[],public,0,0,0,main,"{'admin': False, 'maintain': False, 'push': Fa..."
17,551005309,R_kgDOINesfQ,lab-mysql-first-queries,marcgavalda/lab-mysql-first-queries,False,"{'login': 'marcgavalda', 'id': 43200205, 'node...",https://github.com/marcgavalda/lab-mysql-first...,NaN,True,https://api.github.com/repos/marcgavalda/lab-m...,...,True,False,False,[],public,0,0,0,main,"{'admin': False, 'maintain': False, 'push': Fa..."
18,547751858,R_kgDOIKYHsg,lab-mysql-first-queries,fabioblankc/lab-mysql-first-queries,False,"{'login': 'fabioblankc', 'id': 86802599, 'node...",https://github.com/fabioblankc/lab-mysql-first...,NaN,True,https://api.github.com/repos/fabioblankc/lab-m...,...,True,False,False,[],public,0,0,0,main,"{'admin': False, 'maintain': False, 'push': Fa..."
19,520351638,R_kgDOHwPvlg,lab-mysql-first-queries,albermaju/lab-mysql-first-queries,False,"{'login': 'albermaju', 'id': 88496386, 'node_i...",https://github.com/albermaju/lab-mysql-first-q...,NaN,True,https://api.github.com/repos/albermaju/lab-mys...,...,True,False,False,[],public,0,0,0,main,"{'admin': False, 'maintain': False, 'push': Fa..."
20,511447234,R_kgDOHnwQwg,lab-mysql-first-queries,Jadcarpan/lab-mysql-first-queries,False,"{'login': 'Jadcarpan', 'id': 77731566, 'node_i...",https://github.com/Jadcarpan/lab-mysql-first-q...,NaN,True,https://api.github.com/repos/Jadcarpan/lab-mys...,...,True,False,False,[],public,0,0,0,main,"{'admin': False, 'maintain': False, 'push': Fa..."
21,477469773,R_kgDOHHWcTQ,lab-mysql-first-queries,BenjaminPerraut/lab-mysql-first-queries,False,"{'login': 'BenjaminPerraut', 'id': 20065495, '...",https://github.com/BenjaminPerraut/lab-mysql-f...,NaN,True,https://api.github.com/repos/BenjaminPerraut/l...,...,True,False,False,[],public,0,0,0,main,"{'admin': False, 'maintain': False, 'push': Fa..."
22,476451066,R_kgDOHGYQ-g,lab-mysql-first-queries,raghavmanocha31/lab-mysql-first-queries,False,"{'login': 'raghavmanocha31', 'id': 98871634, '...",https://github.com/raghavmanocha31/lab-mysql-f...,NaN,True,https://api.github.com/repos/raghavmanocha31/l...,...,True,False,False,[],public,0,0,0,main,"{'admin': False, 'maintain': False, 'push': Fa..."
23,476446804,R_kgDOHGYAVA,lab-mysql-first-queries,AlbaNMG/lab-mysql-first-queries,False,"{'login': 'AlbaNMG', 'id': 98379608, 'node_id'...",https://github.com/AlbaNMG/lab-mysql-first-que...,NaN,True,https://api.github.com/repos/AlbaNMG/lab-mysql...,...,True,False,False,[],public,0,0,0,main,"{'admin': False, 'maintain': False, 'push': Fa..."
24,476446285,R_kgDOHGX-TQ,lab-mysql-first-queries,parisisergio/lab-mysql-first-queries,False,"{'login': 'parisisergio', 'id': 98889543, 'nod...",https://github.com/parisisergio/lab-mysql-firs...,NaN,True,https://api.github.com/repos/parisisergio/lab-...,...,True,False,False,[],public,0,0,0,main,"{'admin': False, 'maintain': False, 'push': Fa..."
25,476443861,R_kgDOHGX01Q,lab-mysql-first-queries,sergiomanzo/lab-mysql-first-queries,False,"{'login': 'sergiomanzo', 'id': 50046489, 'node...",https://github.com/sergiomanzo/lab-mysql-first...,NaN,True,https://api.github.com/repos/sergiomanzo/lab-m...,...,True,False,False,[],public,0,0,0,main,"{'admin': False, 'maintain': False, 'push': Fa..."
26,476442334,R_kgDOHGXu3g,lab-mysql-first-queries,Bianca-Bla/lab-mysql-first-queries,False,"{'login': 'Bianca-Bla', 'id': 98658226, 'node_...",https://github.com/Bianca-Bla/lab-mysql-first-...,NaN,True,https://api.github.com/repos/Bianca-Bla/lab-my...,...,True,False,False,[],public,0,0,0,main,"{'admin': False, 'maintain': False, 'push': Fa..."
27,476441413,R_kgDOHGXrRQ,lab-mysql-first-queries,ElederDonosti/lab-mysql-first-queries,False,"{'login': 'ElederDonosti', 'id': 97744953, 'no...",https://github.com/ElederDonosti/lab-mysql-fir...,NaN,True,https://api.github.com/repos/ElederDonosti/lab...,...,True,False,False,[],public,0,0,0,main,"{'admin': False, 'maintain': False, 'push': Fa..."
28,476441281,R_kgDOHGXqwQ,lab-mysql-first-queries,kalinof/lab-mysql-first-queries,False,"{'login': 'kalinof', 'id': 18365725, 'node_id'...",https://github.com/kalinof/lab-mysql-first-que...,NaN,True,https://api.github.com/repos/kalinof/lab-mysql...,...,True,False,False,[],public,0,0,0,main,"{'admin': False, 'maintain': False, 'push': Fa..."
29,476395583,R_kgDOHGU4Pw,lab-mysql-first-queries,PatriciaYaPi/lab-mysql-first-queries,False,"{'login': 'PatriciaYaPi', 'id': 99353944, 'nod...",https://github.com/PatriciaYaPi/lab-mysql-firs...,NaN,True,https://api.github.com/repos/PatriciaYaPi/lab-...,...,True,False,False,[],public,0,0,0,main,"{'admin': False, 'maintain': False, 'push': Fa..."

In [32]:
data1.columns

Index(['id', 'node_id', 'name', 'full_name', 'private', 'owner', 'html_url',
       'description', 'fork', 'url', 'forks_url', 'keys_url',
       'collaborators_url', 'teams_url', 'hooks_url', 'issue_events_url',
       'events_url', 'assignees_url', 'branches_url', 'tags_url', 'blobs_url',
       'git_tags_url', 'git_refs_url', 'trees_url', 'statuses_url',
       'languages_url', 'stargazers_url', 'contributors_url',
       'subscribers_url', 'subscription_url', 'commits_url', 'git_commits_url',
       'comments_url', 'issue_comment_url', 'contents_url', 'compare_url',
       'merges_url', 'archive_url', 'downloads_url', 'issues_url', 'pulls_url',
       'milestones_url', 'notifications_url', 'labels_url', 'releases_url',
       'deployments_url', 'created_at', 'updated_at', 'pushed_at', 'git_url',
       'ssh_url', 'clone_url', 'svn_url', 'homepage', 'size',
       'stargazers_count', 'watchers_count', 'language', 'has_issues',
       'has_projects', 'has_downloads', 'has_wiki', 'has_pages',
       'has_discussions', 'forks_count', 'mirror_url', 'archived', 'disabled',
       'open_issues_count', 'license', 'allow_forking', 'is_template',
       'web_commit_signoff_required', 'topics', 'visibility', 'forks',
       'open_issues', 'watchers', 'default_branch', 'permissions'],
      dtype='object')

In [36]:
#Fork Languages
data['language'].unique()

array([None, 'Jupyter Notebook'], dtype=object)

In [34]:
#pd.json_normalize(data1['owner'])

In [ ]:
#command in (command line):
#$ curl -u suparna098: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 https://api.github.com/repos/ta-data-pt-rmt/lab-mysql-first-queries/forks > test.json

# curl -u suparna098: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 https://api.github.com/repos/ta-data-pt-rmt/lab-mysql-first-queries/commits?until=2022-12-13 > count.json

#token=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